---
import { Image } from "astro:assets";
import bolojs from "../img/bolognajs-logo.svg";
---

<p-slide class="cover">
  <h1>MCP: the silent colleague connecting your services to the AI</h1>
  <p-note class="center">
    <h6>Connecting LLMs to the real world, one tool at a time</h6>
  </p-note>
  <Image
    src={bolojs}
    alt="bolognajs logo"
    class="alter-image-size"
    style="--image-start-size: 3em;margin-block-start: 3rem;"
  />
  <p-note class="center bottom-fist-page text-sub-section">
    <span>Marco Pollacci</span>
    <span>27/05/2026 - Bologna, Italy</span>
  </p-note>
</p-slide>
<style lang="scss">
  h1 {
    font-size: 1.2em;
  }
  img {
    filter: drop-shadow(0.25em 0.25em 0.1375em rgba(0, 0, 0, 0.5));
  }
</style>
