<p-slide>
  <h5 style="margin-block-end: 1em" class="center">
    <span class="main-gradient">Questions?</span> 🤔
  </h5>
  <pre
    class="small-line"
    data-label-file="questions.js">
<code is:raw class="language-javascript">
    server.tool(
        "ask",
        "Ask a question to the speaker",
        { question: z.string() },
        async ({ question }) => {
            const answer = await speaker.answer(question);
            return {
            content: [{ type: "text", text: answer }],
            };
        }
    );</code></pre>
</p-slide>
